In [10]:
**This notebook covers essential python concepts for beginners in data science and machine learning.**
**Topics include strings, numbers, booleans, lists, disctionaries, control flow, loops, functions, and classes with detailed explanations and code examples.**
##This section shows how to create strings in Python.
##You can use single ', double " or triple ''' """ quotes for multi-line strings.
##Strings are printed using print().


# Basic string assignment
name = "Nowell strite(that\"s me)"
home = 'Huntingon,VT'

# Multi-line string using triple quotes
sites = '''You can find me online on sites like GitHub and Twitter.'''
print(sites)
print(home)
print(name)

# Another multi-line string
bio = """If you don't find me online, you can find me outside the lab."""
print(bio)

You can find me online on sites like GitHub and Twitter.
Huntingon,VT
Nowell strite(that"s me)
If you don't find me online, you can find me outside the lab.

This block demonstrates integer and float conversions using int() and float().

In [11]:
##This block demonstrates integer and float conversions using int() and float().
# Integers (Whole numbers (positive, negative, or zero) without any decimal point.)
year = 2024
year = int("2024")

# Floating-point numbers
pi = 3.14159265
pi = float("3.14159265")
print(pi)

3.14159265

In [12]:
# None is used to indicate 'no value' or 'empty'
optional_data = None

In [13]:
##Python lists are ordered, mutable collections. You can access them using indices or slices.

# Creating a list (A list is an ordered collection of elements defined using square brackets [].)
favourites = []
favourites.extend(["Python", True])

# Or directly
favourites = [42, "Python", True]
print(favourites)

# Accessing list items
numbers = [1, 2, 3, 4, 5]
print(numbers[0])        # First item
print(numbers[0:5])      # Full list
print(numbers[2:])       # From index 2 to end
print(numbers[:4])       # From start to index 3

[42, 'Python', True]
1
[1, 2, 3, 4, 5]
[3, 4, 5]
[1, 2, 3, 4]

In [14]:
##Dictionaries store data as key-value pairs. Keys must be unique and immutable.
##A dictionary stores data in key-value pairs using curly braces {}.
# Creating a dictionary and adding key-value pairs
person = {}
person['name'] = 'Nowell Strite'
print(person)

# Updating dictionary
person.update({
    'favourites': [42, 'food'],
    'gender': 'male',
})

# Dictionary keys can be any immutable type
person[42] = 'favourite number'
person[(44.47, -73.21)] = 'coordinates'
print(person[(44.47, -73.21)])

{'name': 'Nowell Strite'}
coordinates

In [15]:
##Booleans represent True/False. Most non-empty values evaluate to True.
##Booleans represent True or False values used in logical operations and conditions.
# Boolean values
is_python = bool("any object")  # True

# Falsy values in Python
falsy = False or 0 or {} or [] or None

# Truthy values
truthy = True and 1 and "Text" and {'a': 'b'} and ['c', 'd']

In [16]:
##String formatting with % and .join() is useful for combining text and values.
##A method to insert variables into strings using %, .format(), or f-strings.
animals = "cats  " + "Dogs  "
animals += "Rabbits"
print(animals)

fruit = ', '.join(['Apple', 'Banana', 'Orange'])
print(fruit)

date = '%s %d %d' % ('Sept', 4, 2010)
print(date)

name = '%(last)s %(first)s' % {'first': 'Anwesha', 'last': 'Ash'}
print(name)

cats  Dogs  Rabbits
Apple, Banana, Orange
Sept 4 2010
Ash Anwesha

In [17]:
### Arithmetic and Logical operations
##Arithmetic includes math operations (+, -, *, /) while logical includes and, or, not.
a = 10
a += 1
print(a)

a -= 1
print(a)

b = a + 1
c = a - 1
print(b, c)

# Logical operations
print(a and b)
print(a or b)
print(a and not (b or c))

11
10
11 9
11
10
False

In [18]:
###Section 9: Comparison Operators
##Checks if two variables point to the same object in memory using is and is not.

# Identity
print(1 is 1)          # True
print(1 is not '1')    # True

# Value comparisons
print(a > b, a < b, a >= b, a <= b, a == b, a != b)

True
True
False True False True False True

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-18-d6e496f15668>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 1)          # True
<ipython-input-18-d6e496f15668>:5: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(1 is not '1')    # True

In [19]:
### Control Flow-if/elif/else
##Uses if, elif, else to make decisions based on conditions in a program.
grade = 75

if grade >= 90:
    if grade == 100:
        print('A+')
    else:
        print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C+')
else:
    print('F')

C+

In [20]:
### Loops
##A for loop repeats a block of code for each item in a sequence like list or range.
# For loop using range
for x in range(10):
    print(x)

# Looping through a list
fruits = ['Apple', 'Orange', 'Banana', 'Strawberry']
for fruit in fruits:
    print(fruit)

# Loop through a dictionary
states = {'VT': 'Vermont', 'ME': 'Maine'}
for key, value in states.items():
    print(f'{key}: {value}')

0
1
2
3
4
5
6
7
8
9
Apple
Orange
Banana
Strawberry
VT: Vermont
ME: Maine

In [21]:
### While loop
##A loop that runs repeatedly as long as a specified condition is True.
x = 0
while x <= 100:
    print(x)
    x += 25

0
25
50
75
100

In [22]:
### List comprehension
##A concise way to create lists using a single line of code with a loop inside brackets.
odds = [x for x in range(50) if x % 2 != 0]

even = []
for x in range(50):
    if x % 2 == 0:
        even.append(x)

print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [23]:
#### Functions

# Simple function
def my_function():
    """Function Documentation"""
    print("Hello World")

my_function()

# Function with parameters
def add(x, y):
    return x + y

print(add(5, 3))

# Arbitrary arguments
def some_method(*args, **kwargs):
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

some_method(1, 2, 3, name='Numbers')

Hello World
8
1
2
3
name: Numbers

In [24]:
### Fibonacci Function
##A function that returns a sequence where each number is the sum of the two before it.
def fib(n):
    """Return Fibonacci series up to n"""
    results = []
    a, b = 0, 1
    while a < n:
        results.append(a)
        a, b = b, a + b
    return results

print(fib(10))

[0, 1, 1, 2, 3, 5, 8]

In [25]:
### Classes
##Classes define custom data types and encapsulate data with functions (methods) in OOP (Object oriented programming).
class User(object):
    is_staff = False

    def __init__(self, name='Anonymous'):
        self.name = name

    def is_authorized(self):
        return self.is_staff

user = User("Hamza")
print(user.name)
print(user.is_authorized())

Hamza
False